/* Stile di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}


/* VARIABILI COLORI */
:root {
    --light-sky-blue : #ADD8E6;
    --orange : #DAA520;
    --dark-blue : #00008B;
    --pink : #EE82EE;
    --white : #FFFFFF;
    --light-blue : #1E90FF;
    --light-white-pink : #FFC0CB;
    --light-gray : #F6F6F6;
    --green : #228B22;
    --black : #23272A;
    --light-pink : #F08080;
    --aqua-blue : #20B2AA;
    --light-aqua-blue : #7fffd4;
    


}

/* CLASSI UTILITIES PER FONTS  */
.big-text {
    font-size: 2.2rem;
}

.big-medium-text {
    font-size: 1.6rem;
}

.medium-text {
    font-size: 1.1rem;
}


.small-text {
    font-size: 0.9rem;
}



/* CLASSI UTILITIES COLORI TEXT */
.text-white {
    color: #fff;
}

.text-black {
    color: #23272A;
}


.text-lilla {
    color : #7289DA;
}

/* CLASSI UTILITIES TEXT */

.bg-white {
    background: var(--white);
}

.bg-black {
    background: var(--black);
}

.bg-lilla {
    background: #8EA1E1;
}

.big-padding-y {
    padding-top: 4rem  ;
    padding-bottom: 4rem  ;
}

.big-padding-x {
    padding-left: 4rem  ;
    padding-right: 4rem  ;
}

.medium-padding-y {
    padding-top: 1.2rem  ;
    padding-bottom: 1.2rem  ;
}

.medium-padding-x {
    padding-left: 1.2rem  ;
    padding-right: 1.2rem  ;
}

.small-padding-y {
    padding-top: 0.9rem  ;
    padding-bottom: 0.9rem  ;
}

.small-padding-x {
    padding-left: 0.9rem  ;
    padding-right: 0.9rem ;
}

.very-small-padding-y {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.very-small-padding-x {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}


.text-center {
    text-align: center;
}

.text-lighter {
    font-weight: lighter;
}


/* ------------------------------------------------------------------------ */


/* Stile dell'header (container , navbar) logo links login  */

 header {
   
    padding: 1rem 2rem;
}



.container {
    width: 1300px;
  
    margin: 0 auto;
}

nav {
    display: flex;
   
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
   
}

nav ul {
    gap: 1.2rem;
}


nav .logo , nav .login {
    flex-grow: 1;
    
  

}

.login {
    text-align: right;
}

nav .links {
    display: flex;

    flex-grow: 1;
    padding: 0.5rem 0;
    justify-content: center;
}

nav .links > li {
    padding: 0 0.5rem;
    list-style: none;
}

/* ------------------------------------------------------------------------ */


/* Stile del main content */


.main {
    
    min-height: 500px;
    padding: 2rem 0;
}


.main-content {
   text-align: center;
    min-height: 400px;
    margin: 0 auto;
   padding-top: 3rem;
    max-width: 800px;
}

/* ------------------------------------------------------------------------ */

/* Stile della prima seconda  terza section e quarta section (big section  */

.section {
    min-height: 600px;
    background: var(--white);
    padding: 2rem 0;
}

.section .container .first-content {
    
    flex-basis:  60%;
    min-height: 600px;
}

.section .container .second-content {
   
    flex-basis: 40%;
    min-height: 600px;
}

.flex {
    display: flex;
}

.reverse {
    flex-direction: row-reverse;
}

.gray {
    background: var(--light-gray);
}

.section .container.big {
    min-height: 800px;
    
}
/* ------------------------------------------------------------------------ */

/* Footer  */


footer {
    background: var(--black);
    min-height: 600px;
    padding-top: 0.5rem ;
    
    
}





.big-column {
    flex-basis: 50%;
    min-height: 500px;
   
}

.small-column {
    flex-basis: calc(100% / 4);
  
}



footer .info {
    padding-top: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}


footer .logo , footer .bottone {
   
    padding: 0.2rem;
}



/* ------------------------------------------------------------------------ */



/* IMPLEMENTAZIONI STILI DISCORD NUOVA REPO  */


.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.btn {
    border: none;
    border-radius: 35px;
    margin-left: 0.8rem;
    
}

.p-content {
    padding-top: 2rem;
    line-height: 1.7rem;
    padding-bottom: 0.8rem;
  
}



.flex-column {
    flex-direction: column;
}